#video-placeholder {
    
}

html {
	background: black;
	color: #eee;
}

body {
	width: 600px;
	border: 1px black;
}

#translation {
	color: blue;
}

.buttons button {
	padding: 10px;
}

#slow {
	background: #ccc;
}

#speed {
	padding: 10px;
	color: blue;
}

#speed-controls {
	background: #ccc;
	padding: 10px;
}

.x {
	padding: 0 10px;
}